body{
    background-color: #666666;
    font-family: Calibri,serif;
}
main{
    max-width: 1300px;
    min-width: 90%;
   margin: auto;
    display: flex;
    flex-direction: column;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 50px;
}
h2{
    display: inline-block;
    font-weight: lighter;
    font-size: 35px;
    color:mediumturquoise;
}
ol{
    list-style-type: none;
    font-size: 24px;
}
header li {
    display: inline-block;
    margin-left: 50px;
    font-weight: bolder;
}
section h2{
    text-align: center;
    display: block;
}
.row{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
}
i{
    color: lightslategrey;
}
.s1 img{
    width: 35%;
    border: 10px solid white;
  margin-left: 50px;
}
.s1 p{
    line-height: 1.5em;
    margin-left: 20px;
    text-align: justify;
    font-size: 18px;
}
.s1 ol{
flex-direction: inherit;
}
.s3 img{
    width: 100%;
    border: 10px solid #666666;
    overflow: hidden;
}
.s3 p{
    text-align: justify;
    font-size: 18px;
}
.s2 img{
    width: 100%;
    border: 10px solid #666666;
    overflow: hidden;
}
.s2 p{
    text-align: justify;
    font-size: 18px;
}
.row img{
    max-height: 400px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    border-bottom: 2px solid red;
}
@media (max-width: 800px){

     header li{
        display: block;
    }
   .s1 .row{
       flex-direction: column;
   }
   .s1 img{
       width: 75%;
       margin: auto;
   }
   .s3 .row{
       flex-wrap: wrap;
   }
   .s3 img{
       width: 25%;
   }
  ol{
      width: 50%;
  }

}

